{% extends 'base.html.twig' %}

{% block body %}
    <main class="main__browse">
        <div class="filters">
            <h1>Browse {{ genre ? genre : 'All genres' }}</h1>
            <h2>Filter by genre</h2>
            <ul class="filters_list">
                <li>
                    <a href="{{ path('app_browse', {
                        slug: 'pop'
                    }) }}">Pop</a>
                </li>
                <li>
                    <a href="{{ path('app_browse', {
                        slug: 'rock'
                    }) }}">Rock</a>
                </li>
                <li>
                    <a href="{{ path('app_browse', {
                        slug: 'heavy-metal'
                    }) }}">Heavy Metal</a>
                </li>
            </ul>
        </div>
        <section class="mixes_container">
            {% for mix in mixes %}
                <div>
                    <img src="{{ asset('img/300.png') }}" alt="Imagen del mix">
                    <p>{{ mix.title }}</p>
                    <span>{{ mix.trackCount }}</span>
                    <span>{{ mix.genre }}</span>
                    <span>{{ mix.createdAt|ago }}</span>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}